.activeRow{
	div[role="row"]{
		border-left: 3px solid green;
	}
}
.bicwrapper{
	text-align: center;
}
.swbics{
	max-width: 1000px;
	margin-bottom: 32px;
	border: 1px solid #ccc;
}
.btn{
	margin-bottom: 32px;
}