body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup-wrapper{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.back-button-wrapper{
	padding: 8px 20px;
	border-bottom: 1px solid #ccc;
}
.back-button-wrapper svg{
	font-size: 20px;
	cursor: pointer;
}
.back-button-wrapper svg:hover{
	transition: .4s;
	transform: scale(1.1);
}

.dropzone{
	width: 300px;
	height: 150px;
	border-radius: 8px;
	border: 3px dashed #cccccc7f;
	padding: 40px;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	cursor: pointer;
	&:hover{
		transition: .4s;
		border-color: #ccc;
	}
}